# Telegram Bot sozlamalari
BOT_TOKEN=
ADMINS=
IP=127.0.0.1
PORT=8000
TELEGRAM_API_SERVER=
TELEGRAM_PROXY=

# Web App sozlamalari
WEB_APP_URL=
ADMIN_APP_URL=
WEB_HOST=0.0.0.0
WEB_PORT=8000

# Database sozlamalari
DB_URL=sqlite+aiosqlite:///data/stellar.db

# Qo'llab-quvvatlash va Kanal sozlamalari
SUPPORT_URL=
NEWS_CHANNEL_URL=

# To'lov tizimlari (Ixtiyoriy)
CLICK_SERVICE_ID=
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=

PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=

AUTOPAYCARD_API_KEY=
